@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif; 
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #777;
  cursor: default;
}